header p{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}
header h1{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(80, 31, 68, 0.475);
}
.css h2{
    background-color: rgba(80, 31, 68, 0.475);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#script h2{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(80, 31, 68, 0.475);
}
.css p{
        font-size: 1.2rem;
}
#script p{
    font-size: 1.2rem;
}
img{

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    display: flex;
    position: absolute;
    gap: 0.5rem;
    top: 10px;
    right: 10px;
}
