body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    font: italic;
    background-color: beige;
    text-align: center;
}
nav{
    padding: 10px;
    margin: 1px;
    
}
nav a{
    
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}
.nav-btn{
    border-radius: 5px;
    font-weight: bold;
}
.nav-btn:hover{
    background-color: #e65c00;

}
header nav{
    background-color: aqua;
}
